.strip {
  // width: 212px;
  width: 100%;
  height: 44px;
  font-size: 16px;
  padding: 0 10px;

  color: #bcc1cb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  // + .strip {
  //     margin-bottom: 12px;
  // }
  .flod-title {
    margin-left: 5px;
  }
  box-sizing: border-box;
}
.isActive {
  background: linear-gradient(98deg, #4290ff 0%, #5db5ff 72%, #84ceff 100%);
  box-shadow: 0px 2px 6px 0px rgba(126, 163, 226, 0.6);
  border-radius: 4px;
  color: #fff;
}
.strip:hover {
  background: #e0efff;
  border-radius: 4px;
}
.isActive:hover {
  background: linear-gradient(98deg, #4290ff 0%, #5db5ff 72%, #84ceff 100%);
  box-shadow: 0px 2px 6px 0px rgba(126, 163, 226, 0.6);
  border-radius: 4px;
}
.collapseCount {
  padding: 10px 0;
  background: #f7faff;
}
